<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>博客首页</title>
</head>
<body>
<h1>这是博客首页</h1>
当前用户：{{ username | default:'未登录' }}
<!--<a href="/create">写博客</a>-->
<a href="{% url 'blog:create' %}">写博客</a>
{% for blog in blogs %}
<li>{{ forloop.counter }}:{{ blog.b_title }}---{{blog.b_author}}---{{blog.id}}
    <a href="/delete/{{blog.id}}">删除</a>
</li>
{% endfor %}

上传图片：
<form method="post" action="/upload" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="pic"><br>
    <input type="submit" value="上传">
</form>
<hr>
分页显示：<br>
{% for blog in page %}
<li>{{ forloop.counter }}:{{ blog.b_title }}---{{blog.b_author}}---{{blog.id}}
    <a href="/delete/{{blog.id}}">删除</a>
</li>
{% endfor %}
页码：<br>
{% if page.has_previous %}
<a href="/show_blog/{{page.previous_page_number}}">&lt;上一页</a>
{% endif %}
{% for p_index in page.paginator.page_range %}
    {% if p_index == page.number %}
        {{ p_index }}
    {% else %}
        <a href="/show_blog/{{p_index}}">{{ p_index }}</a>
    {% endif %}
{% endfor %}
{% if page.has_next %}
<a href="/show_blog/{{page.next_page_number}}">下一页&gt;</a>
{% endif %}
<!--html注释-->
</body>
</html>