{% extends 'blog/index_base.html' %}
{% block main_primary%}


{% for blog in page %}
<article>
    <header class="entry-header">
        <h1 class="entry-title">
            <a href="/detail/{{blog.id}}" title="{{ blog.b_title }}" rel="bookmark">{{ blog.b_title }}
            </a>
        </h1>
    </header>
    <div class="entry-content">
        {{blog.b_content}}
    </div>
    <footer class="entry-meta">
        发布时间： <a href="#" title="{{ blog.b_pub_date }}" rel="bookmark">
        <time class="entry-date" datetime="{{ blog.b_pub_date }}">{{ blog.b_pub_date }}</time>
    </a>
        作者：<a href="#" title="查看{{blog.b_author}}的全部文章" rel="category">{{blog.b_author}}</a>
        分类：<a href="#" title="查看 Linux中的全部文章" rel="category">Linux</a>
        阅读量：<a href="#" title="" rel="category">{{blog.b_read_vol}}</a>
        点赞量：<a href="#" title="" rel="category">{{blog.b_thumbs}}</a>
        <a href="/update/{{blog.id}}">修改</a>
        <a href="/delete/{{blog.id}}">删除</a>
    </footer>
</article>
{% endfor %}
{% if page.has_previous %}
<a href="/show_blog/{{page.previous_page_number}}">&lt;上一页</a>
{% endif %}
{% for p_index in page.paginator.page_range %}
{% if p_index == page.number %}
{{ p_index }}
{% else %}
<a href="/show_blog/{{p_index}}">{{ p_index }}</a>
{% endif %}
{% endfor %}
{% if page.has_next %}
<a href="/show_blog/{{page.next_page_number}}">下一页&gt;</a>
{% endif %}
<!--html注释-->
{% endblock main_primary%}