<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录界面</title>
    <script src="/static/js/jquery.min.js"></script>
    <script>
        $(function(){
            $('#btnLogin').click(function(){
                username=$('#username').val()
                password=$('#password').val()
                remember=$('#remember').is(':checked')
                verify_code=$('#verify_code').val()
                $.ajax({
                    'url':'/login_check_ajax',
                    'type':'post',
                    'data':{
                        'username':username,
                        'password':password,
                        'remember':remember,
                        'verify_code':verify_code,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },{# 开启csrf防护 #}
                    'dataType':'json'
                }).success(function(data){
                    if(data.res==0){
                        $('#msg').show().html('用户名或密码错误')
                    }else if(data.res==-1){
                        $('#msg').show().html('验证码错误')
                    }else{
                        location.href='/index'
                    }
                })
            })
        })



    </script>
    <style>
        #msg{
            display:none;
            color:green;
        }

    </style>
</head>
<body>
<h1>这是登录界面</h1>
<div id="msg"></div>
<div>
    用户名：<input type="text" id="username" value="{{username}}"><br>
    密 码：<input type="password" id="password"><br>
    <img src="/get_verify_img" alt="" id="code">
    <input type="text" placeholder="验证码" id="verify_code"><br>
    <input type="checkbox" id="remember">记住用户名<br>
    <input type="button" id="btnLogin" value="登录">

</div>
<script>
{# 刷新验证码#}
    $("#code").click(function () {
        console.log("刷新验证码");
    })

</script>
</body>
</html>