<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册界面</title>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/core.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/components.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/icons.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/pages.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/responsive.css"/>
    <script src="/static/js/jquery.min.js"></script>
    <script>
        $(function(){
            $('#btnReg').click(function(){
                username=$('#username').val()
                password=$('#password').val()
                email=$('#email').val()
                re_pwd=$('#re_pwd').val()
                $.ajax({
                    'url':'/user/reg_check',
                    'type':'post',
                    'data':{
                        'username':username,
                        'password':password,
                        'email':email,
                        're_pwd':re_pwd,
                        'csrfmiddlewaretoken': '{{ csrf_token }}'
                    },{# 开启csrf防护 #}
                    'dataType':'json'
                }).success(function(data){
                    if(data.res==0){
                        //$('#msg').show().html('用户名或密码错误')
                        alert('两次密码输入不一致')
                    }else if(data.res==-1){
                        alert('用户名已存在')
                    }else{
                        alert('注册成功，返回登录')
                        location.href='/user/login'
                    }
                })
            })
        })




    </script>
</head>
<body>
<div class="account-pages"></div>
<div class="clearfix"></div>
<div class="wrapper-page">
    <div class=" card-box">
        <div class="panel-heading">
            <h3 class="text-center">注册博客账号</h3>
        </div>
        <div class="panel-body">
            <form class="form-horizontal m-t-20" action="/user/reg_check" method="POST">
                {%csrf_token%}
                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" name="username" id="username" placeholder="用户名"
                               value="">
                    </div>
                </div>

                <div class="form-group ">
                    <div class="col-xs-12">
                        <input class="form-control" type="text" name="email" id="email" placeholder="邮箱" value="">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" id="password" name="password" placeholder="密码"
                               value="">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-xs-12">
                        <input class="form-control" type="password" id="re_pwd" name="password_confirmation"
                               placeholder="确认密码">
                    </div>
                </div>

                <div class="form-group text-center m-t-40">
                    <div class="col-xs-12">
                        <button class="btn btn-block text-uppercase waves-effect waves-light" type="button"
                                style="border:silver 1px solid"
                                id="btnReg">
                            注 册
                        </button>
                    </div>
                </div>

            </form>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12 text-center">
            <p>
                已有账号?<a href="/user/login" class="text-primary m-l-5"><b>登录</b></a>
            </p>
        </div>
    </div>

</div>
</body>
</html>